.c-login {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .c-login--form {
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
    gap: 0.7rem;
  }
}
