/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 3px;
  height: 20%;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}
