@function rem-calc($size) {
  $remSize: calc($size / 16);
  @return #{$remSize}rem;
}

@import "settings/import";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "tools/import";
@import "components/import";
@import "defaults/import";
@import "objects/import";
@import "utilities/import";

.app {
  position: relative;
  height: 100vh;
}
